*.o

Assignment 1/Code/p1

Project 1/.vs/Project 1/v14/.suo

Trent Rand.zip

Trent-Rand.zip

*.zip

Trent Rand.zip

*.o

Project 2/p2

Project 2/p2

*.pbxproj

*.xcscheme

*.plist

*.xcworkspacedata

*.xcuserstate

*.xcbkptlist

Project 2/Code/p2
